p{
    animation-name: animate;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#p1{
    display: inline-block;
   animation-name: animate3;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-direction: alternate;
}
@keyframes animate3 {
    0%{transform: rotate(0deg);}
    25%{color:yellow;font-size: 5vh;}
    75%{color:red;font-size: 10vh;}
    100%{transform: rotate(180deg);}
}
@keyframes animate2{
    from{font-size:4vh;}
    to{font-size: 10vh;}
}
@keyframes animate{
    from{background-color: blueviolet;}
    to{
        background-color: aqua;
    }
}